/* General */

@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap');

$font-stack: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-bold-stack: 'Work Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$background-color: #FCFCFC;
$black-color: #0C0503;
$blue-color: #2e27f8;
$green-color: #25CA6F;
$yellow-color: #F2A74B;
$red-color: #E92628;


html {
    font-size: 1.1rem;
    overflow-x: hidden;
    letter-spacing: 0.12rem;
}

body {
    background: $background-color;
    color: $black-color;
    font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
    display: inline;
    font-family: $font-bold-stack;
    font-weight: 700;
}


.btn {
    border-radius: 10rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    padding: .35rem .95rem;
}

.btn-outline-primary {
    border: 1px solid $blue-color;
    color: $black-color;

    &:hover, &:active {
        background-color: $blue-color!important;
        border-color: $blue-color!important;
    }
}

.card {
    border: none;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
    margin: 5px;

    .card-header {
        border-bottom: 1px solid rgba(0,0,0,.225);
    }

    .card-body {
        .card-text {
            margin-bottom: 2.0rem;
        }
    }
}

.list-group-item {
    padding-left: 0;
}

.ops__main-underline {
    border-bottom: 3px solid $blue-color;
}

.green {
    @extend .ops__main-underline;
    border-bottom: 3px solid $green-color;
}

.yellow {
    @extend .ops__main-underline;
    border-bottom: 3px solid $yellow-color;
}

.red {
    @extend .ops__main-underline;
    border-bottom: 3px solid $red-color;
}

.ops__main-title {
    margin: 0 auto;
    padding: 35px 5px 35px 5px;
    text-align: center;
}