
/* General */

@font-face {font-family: 'Rubik-Bold';src: url('../fonts/Rubik-Bold.ttf'); font-display: swap;}
@font-face {font-family: 'Karla-Regular';src: url('../fonts/Karla-Regular.ttf'); font-display: swap;}

$font-stack: 'Karla-Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-bold-stack: 'Rubik-Bold', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$background-color: #FFFFFF;
$black-color: #0C0503;
$blue-color: #1B72F9;
$green-color: #25CA6F;
$yellow-color: #F2A74B;
$red-color: #E92628;


html {
    font-size: 1.1rem;
    overflow-x: hidden;
    letter-spacing: 0.09rem;
}

body {
    background: $background-color;
    color: $black-color;
    font-family: $font-stack;
}

h1, h2, h3, h4, h5, h6 {
    display: inline;
    font-family: $font-bold-stack;
}


.btn {
    padding: .375rem 1.25rem;
}

.btn-outline-primary {
    border-color: $blue-color;
    color: $blue-color;

    &:hover, &:active {
        background-color: $blue-color!important;
        border-color: $blue-color!important;
    }
}

.card {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin: 5px;

    .card-header {
        border-bottom: 1px solid rgba(0,0,0,.225);
    }

    .card-body {
        .card-text {
            margin-bottom: 2.0rem;
        }
    }
}

.no-text-transform {
  text-transform: none;
}

.ops__main-underline {
    border-bottom: 3px solid $blue-color;
}

.green {
    @extend .ops__main-underline;
    border-bottom: 3px solid $green-color;
}

.yellow {
    @extend .ops__main-underline;
    border-bottom: 3px solid $yellow-color;
}

.red {
    @extend .ops__main-underline;
    border-bottom: 3px solid $red-color;
}

.ops__license-row {
    padding: 10px 5px 20px 5px;
}

.ops__main-title {
    margin: 0 auto;
    padding: 35px 5px 35px 5px;
    text-align: center;
}
